$bluelightness: #8caef2;
$graylight: #a1a0ab;
$bluelight: #306ee8;
$bluelight2: #183367;
$blueblur: #175ce6;
$bluedarkness: #0f1b33;
$bluedark: #13111c;
$blue-track: linear-gradient(0deg,rgb(255 255 255/0) 0%,hsla(220,62%,25%,0.5) 15%,hsla(220,62%,25%,0.5) 85%,rgb(255 255 255/0) 100%);


$green-primary: #46946e;
$green-secondary: #15231d;
$green-light: #95d0b4;
$green-background: #1c362a;
$green-border: #181622;
$green-dark: #224036;
$green-darkest: #25523e;
$green-backgroundest: #181622;
$green-track: linear-gradient(0deg,rgb(255 255 255/0) 0%,hsla(150,60%,13%,0.5) 15%,hsla(150,60%,13%,0.5) 85%,rgb(255 255 255/0) 100%);


$purple-primary: #853bce;
$purple-secondary: #291839;
$purple-third: #bf93ec;
$purple-four: #4f2876;
$purple-five: #3d2259;
$purple-six: #502877;


