* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13111c;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}


.join,
.footer {
    display: none;
}