.text-s32 {
    font-size: 32px;
    line-height: 44px;
}

.text-s18 {
    font-size: 18px;
    line-height: 27px;
}

.text-s16 {
    font-size: 16px;
    line-height: 22px;
}

.text-s14 {
    font-size: 14px;
    line-height: 21px;
}

