$primary-color: #100f13;
$gray-color: rgba(107,114,128, 1);
$text-light: rgba(156,163,175, 1);
$text-gray-small: rgba(75,85,99, 1);

$text-purple: #c049ff;

$gray-500:#b8bdc4;
$background-purple-200: #f8ecff;
$text-purple-800: #e6d3f1;