.number--primary {
    border: 3px solid $bluelight;
    background-color: $bluedarkness;
    color: $bluelight;
}

.number--secondary {
    border: 3px solid $green-primary;
    background-color: $green-secondary;
    color: $green-primary;
}

.number--third {
    border: 3px solid $purple-primary;
    background-color: $purple-secondary;
    color: $purple-primary;
}

.title--colPrimary {
    color: $bluelight;
}

.title--colSecondary {
    color: $green-primary;
}

.title--colThird {
    color: $purple-primary;
}

.title--primary {
    ::after {
        background-color: $bluelight;
    }
}

.title--secondary {
    ::after {
        background-color: $green-primary;
    }
}

.title--third {
    ::after {
        background-color: $purple-primary;
    }
}

.heading--primary{
    color: $bluelightness;
}

.heading--secondary{
    color: $green-light;
}

.heading--third{
    color: $purple-third;
}

.item--primary {
    border: 1px solid $bluelight2;
    background-color: $bluedark;
    box-shadow: 0px 0px 6px 4px $bluedarkness;
}

.item--secondary {
    border: 1px solid $green-border;
    background-color: $green-backgroundest;
    box-shadow: 0px 0px 6px 4px $green-background;
}

.item--third {
    border: 1px solid $purple-five;
    background-color: $bluedark;
    box-shadow: 0px 0px 6px 4px rgb(32 15 50);
}

.logo--primary {
    :nth-child(4) {
        border: 1px solid $bluelight;
        background-color: $bluedark;
    }
}

.logo--secondary {
    :nth-child(4) {
        border: 1px solid $green-dark;
        background-color: $green-border;
    }
}

.logo--third {
    :nth-child(4) {
        border: 1px solid $purple-six;
        background-color: $bluedark;
    }
}

.square--primary {
    border: 2px solid $bluedarkness;
}

.square--secondary {
    border: 2px solid $green-secondary;
}

.square--third {
    border: 2px solid $purple-secondary;
}

.menu--primary {
    grid-gap: 50px 80px;
}

.menu--secondary {
    grid-gap: 50px 55px;
}

.menu--third {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px 40px;
        
        .item1 {
            grid-row: 1;
            grid-column: 1 / 3;
        }
    
        .item2 {
            grid-row: 2;
            grid-column: 1 / 3;
        }
    
        .item3 {
            grid-row: 1;
            grid-column: 3 / 5;
            align-self: auto;
            justify-self: auto;
        }
    
        .item4 {
            grid-row: 2;
            grid-column: 3 / 5;
        }
    
        .item5 {
            grid-row: 1;
            grid-column: 5 / 7;
        }
    
        .item6 {
            grid-row: 2;
            grid-column: 5 / 7;
        }
    }


.train--primary {
    position: relative;
    background: $blue-track;
    width: 18px;
}

.feature-itemTrain {
    background: $green-track;
}

.heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.heading-lg {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.heading-md {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}

.heading-small {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}


.text {
    color: #878593;
    font-size: 20px;
    line-height: 30px;
    padding: 14px 0 0;
}

.text-small {
    font-size: 14px;
    line-height: 21px;
}

.text-smallest {
    font-size: 13px;
    line-height: 18px;
}

.text-md16 {
    line-height: 30px;
    font-size: initial;
}

.text-md18 {
    color: #878593;
    line-height: 30px;
    font-size: 18px;
}

.text--primary {
    color: hsl(246, 6%, 65%);
}

.text-white {
    color: #fff;
}

.drive {
    margin: 65px 0;
    border: 1px solid #33323e;
}

.btn--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 6px;
    border: 1px solid transparent;
    box-shadow: 0 0 12px 4px $purple-secondary;
    border-radius: 50px;
    padding: 8px 15px;
    cursor: pointer;
    transition: box-shadow .1s ease-in;

    &:hover {
        box-shadow: 0 0 4px 8px $purple-secondary;
    }
}


@media (min-width: 768px) {
    .header {
        &-hambuger {
            display: none;
        }
    }

    .active-comment {
        display: none;
    }

    .btn--view {
        display: none;
    }
}